<div [class]="'node ' + icon"></div>
<div *ngFor="let _ of ltr" class="link-anchor"><div class="link right" [class.offset]="rightOffset"></div></div>
<div *ngFor="let _ of rtl" class="link-anchor"><div class="link left" [class.offset]="leftOffset"></div></div>
<div *ngFor="let _ of ttb" class="link-anchor"><div class="link bottom"></div></div>
<div class="buttons">
  <button class="is-1" [hidden]="buttons === 'None' || buttons === 'Plus'" (click)="onMinusClicked()">-</button>
  <button class="is-2" [hidden]="buttons === 'None' || buttons === 'Minus'" (click)="onPlusClicked()">+</button>
</div>
<div *ngIf="delay != null" class="delay-anchor">
  <div class="delay">{{delay}}</div>
</div>
