<div class="flex-row">
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.WebOrderGeneration" right="onWebOrderReleased" buttons="Both" (delayChanged)="onDelayChanged($event)"></app-node>
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.ReleaseOrder" bottom="onOrderReleased" buttons="Both" (delayChanged)="onDelayChanged($event)"></app-node>
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.CallOrderGeneration" left="onCallOrderReleased" buttons="Both" (delayChanged)="onDelayChanged($event)"></app-node>
</div>

<div class="flex-row">
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.Replenishment" right="onReplenished" rightOffset="true" buttons="Both" (delayChanged)="onDelayChanged($event)"></app-node>
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.ParcelDispatch" left="onReplenishmentRequested" leftOffset="true" right="onParcelDispatched" buttons="Both" (delayChanged)="onDelayChanged($event)"></app-node>
  <app-node [debugMode]="debugMode" [serviceName]="ServiceName.Dispatch"></app-node>
</div>

<div class="conditional-flex-row">
  <app-stocks [debugMode]="debugMode"></app-stocks>

  <div class="queues">
    <app-queue [debugMode]="debugMode" [maxQueueSize]="maxQueueSize" headline="Orders" subject="onOrderQueueChanged"></app-queue>
    <app-queue [debugMode]="debugMode" [maxQueueSize]="maxQueueSize" headline="Parcels" subject="onParcelQueueChanged"></app-queue>
  </div>
</div>
