.flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conditional-flex-row {
  @media screen and (min-width: 2560px) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -70px;
  }
}

.queues {
  @media screen and (min-width: 2560px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
