$factor: 1.5;

.stocks {
  display: flex;
  width: 100%;
  justify-content: center;

  .value {
    $width: 50px;
    $height: 100px;
    $margin: 20px;

    width: $width;
    height: $height;
    margin: $margin;
    background: #65617D;

    @media screen and (min-width: 2560px) {
      width: calc(#{$width} * #{$factor});
      height: calc(#{$height} * #{$factor});
      margin: calc(#{$margin} * #{$factor});
    }

    &.is-90 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.1), #65617D calc(#{height} * 0.1), #65617D);
    }

    &.is-80 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.2), #65617D calc(#{height} * 0.2), #65617D);
    }

    &.is-70 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.3), #65617D calc(#{height} * 0.3), #65617D);
    }

    &.is-60 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.4), #92899D calc(#{height} * 0.4), #92899D);
    }

    &.is-50 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.5), #92899D calc(#{height} * 0.5), #92899D);
    }

    &.is-40 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.6), #92899D calc(#{height} * 0.6), #92899D);
    }

    &.is-30 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.7), #FBE7E7 calc(#{height} * 0.7), #FBE7E7);
    }

    &.is-20 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.8), #FBE7E7 calc(#{height} * 0.8), #FBE7E7);
    }

    &.is-10 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.9), #FBE7E7 calc(#{height} * 0.9), #FBE7E7);
    }

    &.is-0 {
      background: linear-gradient(#F2F2F2 calc(#{height} * 0.99), #FBE7E7 calc(#{height} * 0.99), #FBE7E7);
    }

    &.low {
      color: #A53860;
      font-weight: bolder;
    }
  }
}
