$factor: 1.5;
$margin-factor: 0.75;

.stocks {
  display: flex;
  width: 100%;
  justify-content: center;

  .value {
    $width: 50px;
    $height: 100px;
    $margin: 20px;

    width: $width;
    height: $height;
    margin: $margin;
    background: #65617D;

    @media screen and (min-width: 2560px) {
      width: calc(#{$width} * #{$factor});
      height: calc(#{$height} * #{$factor});
      margin: calc(#{$margin} * #{$margin-factor});
    }

    &.last {
      @media screen and (min-width: 2560px) {
        margin-right: 50px;
      }
    }

    &.is-90 {
      $percent: 0.1;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #65617D calc(#{$base} * #{$percent}), #65617D);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #65617D calc(#{$base} * #{$percent}), #65617D);
      }
    }

    &.is-80 {
      $percent: 0.2;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #65617D calc(#{$base} * #{$percent}), #65617D);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #65617D calc(#{$base} * #{$percent}), #65617D);
      }
    }

    &.is-70 {
      $percent: 0.3;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);
      }
    }

    &.is-60 {
      $percent: 0.4;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);
      }
    }

    &.is-50 {
      $percent: 0.5;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #92899D calc(#{$base} * #{$percent}), #92899D);
      }
    }

    &.is-40 {
      $percent: 0.6;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);
      }
    }

    &.is-30 {
      $percent: 0.7;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);
      }
    }

    &.is-20 {
      $percent: 0.8;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);
      }
    }

    &.is-10 {
      $percent: 0.9;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);
      }
    }

    &.is-0 {
      $percent: 0.99;
      $base: $height;
      background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);

      @media screen and (min-width: 2560px) {
        $base: calc(#{$height} * #{$factor});
        background: linear-gradient(#F2F2F2 calc(#{$base} * #{$percent}), #FBE7E7 calc(#{$base} * #{$percent}), #FBE7E7);
      }
    }

    &.low {
      color: #A53860;
    }
  }
}
